{% extends 'curriculum/base.html' %}
{% block title %}Add Offering{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">

          <form class="form-horizontal" action="" method="post">
            {% csrf_token %}

<div class="form-group">
  <label class="col-sm-2">{{ form.course_caution.label_tag }}</label>
  <div class="col-sm-10">{{ form.course_caution }}<br>
    <span style="color: #459540">Tick this if you're not sure whether the course will run in its current form - helpful for Marketing during prospectus proofing.</span>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2">{{ form.course_name.label_tag }}</label>
  <div class="col-sm-10">{{ form.course_name }}<br>
    <span style="color: #459540">{{ form.course_name.help_text }}</span>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2">{{ form.course_delivery.label_tag }}</label>
  <div class="col-sm-10">{{ form.course_delivery }}<br>
    <span style="color: #459540">{{ form.course_delivery.help_text }}</span>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2">{{ form.course_type.label_tag }}</label>
  <div class="col-sm-10" onchange="showAss();">{{ form.course_type }}<br>
    <span style="color: #459540">{{ form.course_type.help_text }}</span>
  </div>
</div>

<div class="form-group" id="ass_aim" style="display: none">
  <label class="col-sm-2">Associated Main Aim</label>
  <div class="col-sm-10">{{ form.parent_code }}<br>
    <span style="color: #459540">Only choose an item if this is a child or nested qualification of a main aim.</span>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2">{{ form.strand.label_tag }}</label>
  <div class="col-sm-10">{{ form.strand }}<br>
    <span style="color: #459540">{{ form.strand.help_text }}</span>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2">{{ form.location.label_tag }}</label>
  <div class="col-sm-10">{{ form.location }}<br>
    <span style="color: #459540">{{ form.location.help_text }}</span>
  </div>
</div>

<div class="form-group">
  {% csrf_token %}
  <label class="col-sm-2">{{ form.qual_aim.label_tag }}</label>
  <div class="col-sm-10">{{ form.qual_aim }}<div style="display: inline; margin: 0px; padding: 0px" id="search-results"></div><br>
    <span style="color: #459540">{{ form.qual_aim.help_text }}</span>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2">{{ form.fee_comments.label_tag }}</label>
  <div class="col-sm-10">{{ form.fee_comments }}<br>
    <span style="color: #459540">Record any useful cost information so that finance can calculate fees accurately.</span>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2">{{ form.start_date.label_tag }}</label>
  <div class="col-sm-10">{{ form.start_date }}<br>
    <input type="text" id="datepicker"/>
    <span style="color: #459540">{{ form.start_date.help_text }}</span>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2">{{ form.end_date.label_tag }}</label>
  <div class="col-sm-10">{{ form.end_date }}<br>
    <span style="color: #459540">{{ form.end_date.help_text }}</span>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2">Weekly hours:</label>
  <div class="col-sm-10" onkeyup="calcGlh();">{{ form.wk_hrs }}<br>
    <span style="color: #459540">{{ form.wk_hrs.help_text }}</span>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2">Number of weeks:</label>
  <div class="col-sm-10" onkeyup="calcGlh();">{{ form.number_wks }}<br>
    <span style="color: #459540">{{ form.number_wks.help_text }}</span>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2">GLH:</label>
  <div class="col-sm-10">{{ form.glh }}
    <div>Recommended value: <div id="rec_glh" style="display: inline"></div></div>
    <span style="color: #459540">{{ form.glh.help_text }}</span>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-success">Save</button>
</form>

</div>
</div>
</div>
</div>
</div>
{% endblock %}
