<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Planr{% endblock %}</title>
  <!-- Loads the path to your static files -->
  {% load staticfiles %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'curriculum/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

</head>

<body>
  <div class="container-fluid">
    <div class="panel panel-default" style="display: inline-block">
      <div class="panel-heading">
      <h3>Hi {{ request.user.first_name }}! Here are the courses in your department</h3>
      <div>
      <div style="display: inline"><button class="btn btn-primary">Repeat an Old Course</button></div>
      <div style="display: inline"><button class="btn btn-primary" onclick="location.href='{% url 'curriculum:offering-add' %}'">Create a New Course</button></div>
      <div style="display: inline"><button class="btn btn-info" onclick="location.href='{% url 'curriculum:hierarchy' %}'">Hierarchy View</button></div>
      <div style="display: inline"><button class="btn btn-info" onclick="location.href='{% url 'curriculum:table' %}'">Table View</button></div>
      <div style="display: inline"><button class="btn btn-info" onclick="location.href='{% url 'curriculum:index' %}'">Summary View</button></div>
      <div style="display: inline"><button class="btn btn-success" onclick="location.href='https://github.com/lb13/planr/blob/master/introduction.md'">User Guide</button></div>
    </div><br>
    </div>
      <div class="panel-body">
{% block body %}
{% endblock %}
<div class="panel-footer">
<div style="display: inline">&copy; Bath College | 2017</div>
<div style="display: inline" class="pull-right"><a href="https://github.com/lb13/planr">
  <img style="height: 24px" src="{% static 'curriculum/images/github.svg' %}">
  &nbsp;&nbsp;read the docs here</a></div>
  </div>
</div>
</div>
</div>

<script type="text/javascript" src="{% static 'curriculum/custom.js' %}"></script>
<script type="text/javascript" src="{% static 'curriculum/ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'curriculum/tablesorter.js' %}"></script>
<script>
$("#myTable tr").click(function() {
    var selected = $(this).hasClass("highlight");
    $("#myTable tr").removeClass("highlight");
    if(!selected)
            $(this).addClass("highlight");
});

function saveDraft(){
  var inputs = document.getElementsByTagName('input');
  var textareas = document.getElementsByTagName('textarea');
  for (var i = 0; i < inputs.length; i += 1) {
      if (inputs[i].value == '') {
        inputs[i].value = 'tbc';
      }
    }
  for (var i = 0; i < textareas.length; i += 1) {
      if (textareas[i].value == '') {
        textareas[i].value = 'tbc';
      }
    }
  document.getElementById("id_course_caution").checked = true;
  document.getElementById("addOffering").submit();
  }

function copyQual(x){
  document.getElementById('id_qual_aim').value = x;
}
</script>
</body>
</html>
