{% extends 'curriculum/base.html' %}

{% block body %}
{% if object_list %}
<input type="search" style="width: 100%" class="light-table-filter" data-table="order-table" placeholder="Quick filter">

<div class="col-md-5">
<table class="table order-table tablesorter">
    <thead><tr><th>Draft Offerings</th></tr></thead>
    <tbody>
{% for offering in drafts %}
  <tr>
    <td>{{ offering.course_name }} | {{ offering.qual_aim }} ({{ offering.qual_aim_title }})</td>
    <td><a href="#"><span style="color: green" class="glyphicon glyphicon-pencil"></span></a></td>
    <td><a href="#"><span style="color: red" class="glyphicon glyphicon-trash"></span></a></td>
  </tr>
{% endfor %}
</tbody>
</table>
  </div>
<div class="col-md-5 col-md-offset-2">
  <table class="table order-table tablesorter">
      <thead><tr><th>Committed Offerings</th></tr></thead>
      <tbody>
  {% for offering in commits %}
    <tr>
      <td>{{ offering.course_name }} | {{ offering.qual_aim }} ({{ offering.qual_aim_title }})</td>
      <td><a href="#"><span style="color: green" class="glyphicon glyphicon-pencil"></span></a></td>
    </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% else %}
  <h3>There are no courses in your curriculum yet!</h3>
{% endif %}
</div>

{% endblock %}
